{% load static %}   
<head>
    <title>django página inicial</title>
    <link rel="stylesheet" type="text/css" href="{% static 'meu_site/estilo.css' %}">
  </head>


<div class='links'> 
  <a href="administrar/">administrar</a>
</div>
<hr/>
<div class='links'> 
  <a href="autenticar/opcoes/">autenticar</a>
</div>
<hr/>
<div class='links'> 
  <a href="accounts/opcoes/">accounts</a>
</div>
<hr/>
<div class='links'> 
  <a href="jogo_ingles_portugues/opcoes/">jogo ingles portugues</a>
</div>
<hr/>
<div class='links'> 
  <a href="jogo_ingles_portugues_dados_carregar/opcoes/">jogo ingles portugues dados carregar</a>
</div>
<hr/>
<div class='links'> 
  <a href="artigo/opcoes/">artigo</a>
</div>
<hr/>
<div class='links'> 
  <a href="texto_dados/">texto_dados</a>
</div>
<hr/>